@page "{peopleId:int}"
@model OdeToFamily.Pages.PeoplePage.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

<div>
    Name : @Model.PeopleEntity.Name
</div>
<div>
    NIK : @Model.PeopleEntity.NIK
</div>
<div>
    Gender : @Model.PeopleEntity.Gender
</div>

<h3>Relatives</h3>
@foreach(var relation in Model.RelationsList)
{
    <div>
        @relation.PeopleRelateTo.Name is @relation.Relation to @relation.People.Name
    </div>
}

<a asp-page=".\List" class="btn bg-primary">See All People</a>
<a asp-page="..\RelationPage\Edit" asp-route-peopleId="@Model.PeopleEntity.Id" class="btn bg-primary">Add relation</a>
